<%- include('layouts/header') %>
    <div class="container py-3 my-3 col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-light lead">
                Fazer Pergunta
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Titulo</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea type="text" class="form-control" name="description"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Perguntar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('layouts/footer') %>