<%- include('layouts/header') %>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Perguntas</a>
    </nav>
    <div class="container">
        <div class="card m-5">
            <div class="card-header lead">
                Fazer Pergunta
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Titulo</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" class="form-control" name="description">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Perguntar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('layouts/footer') %>